
 @font-face {
    font-family: LatoRegular;
    src: url(fonts/Lato-Regular.ttf);
 }

 @font-face {
    font-family: LatoMedium;
    src: url(/fonts/Lato-Medium.ttf);
 }
 
 body {
   background-image: url(img/wallpaper.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   color: #ba942a;
   height: 400vh;
  }

  nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: transparent;
  } 

  .logo{
    display: flex;
    align-items: center;
  }

  .logo img{
    width: 100px;
  }

  .logo h3 {
    margin-left: 10px;
    color:#ba942a;
    text-decoration: none;
    font-size: 28px;
    font-family: Lato-Regular;
  }

  .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
  }

   .nav-links a{
    display: block;
    padding: 30px 16px;
    color: #ba942a;
    text-decoration: none;
    font-size: 16px;
    font-family: LatoMedium;
    text-decoration: uppercase;
    transition: all ease-in-out 100ms;
   }

   .nav-links a:hover{
    color: white;
   }
  
   .nav-links .nav-cta-button {
    padding: 10px 18px;
    margin-left: 16px;
    border: none;
   }

   .hamburger {
     display: none;
     cursor: pointer;
     width: 34px;
     
   }

   .hamburger .bar{
    flex-basis: 100%;
    height: 4px;
    background-color: #ba942a;
  
    margin: 3px;
   }

   @media (max-width: 768px) {
    nav {
        flex-wrap: wrap;
    }
    .hamburger {
        display: flex;
        flex-wrap: wrap;
        color: #ba942a;
    }

    .logo {
        height: 80px;
    }

    .nav-links {
        display: none;
        flex-basis: 100%;
        flex-wrap: wrap;
    }

    .nav-links li {
        flex-basis: 100%;
    }

    .nav-links a {
        text-align: center;
        font-size: 28px;
    }

    .nav-links a:hover {
        color: white;
    }

    .nav-links .nav-cta-button {
        padding: 30px 16px;
        margin-left: 0;
        border: none;
        border-radius: 0;
        margin-bottom: 20px;
    }

    .nav-links .nav-cta-button:hover {
        color: white;
    }

    .about {
        text-align: center;
    }
   }


  .hive-img{
    display: block;
    width: 700px;
    margin: 0 auto;
}

   .img-j{
     width: 500px;
     margin-top: 150px;

   }
  .about{
    color: #ba942a;
    font-size: 1.5rem;
    text-align: center;
    height: 200vh;
}

  span {
    color: white;
}


  .btn{
     background-color: #ba942a;
     color: white;
     padding: 15px 10px;
     border-radius: 18px;
     border: none;
  }

   .btn:hover{
      background-color: white;
      color: #ba942a;
   }
 

  .btn{
     background-color: #ba942a;
     color: white;
     padding: 15px 10px;
     border-radius: 18px;
  }
  
  .index-category{
    width: 100%;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}


  .index-category-box{
    width: 200px;
    height: 200px;
   
}

  .index-category-box h3{ 
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    
 }

  h1{
   font-size: 26px;
   line-height: 32px;
   color: #ba942a;
   font-family: sans-serif;
   font-weight: 600;
   text-transform: uppercase;
  }


   h2{
    font-size: 48px;
    line-height: 32px;
    color: #ba942a;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }

   h3{
    font-size: 26px;
    line-height: 32px;
    color: #ba942a;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }

   .main-intro p{
    font-size: 24px;
   }

  .contact{
   margin-top: 150px;
   text-align: center;
   
  }

 .map{
   margin-left: 50px;
   margin-left: 180px;
 }
