

body{
  margin: 0;
  padding: 0;
  background-image: url(wallpaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Lato", sans-serif;
  min-height: 5000px;
}

.menu_bar{
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:  0 5%;
}

.logo{
  color:#ba924a;
  font-size:  70px;
}



.menu_bar ul{
  list-style: none;
  display: flex;

}

.menu_bar ul li{
  padding: 10px 30px;
  position: relative;
}

.menu_bar ul li a{
  color: #ba924a;
  text-decoration: none;
  font-size: 24px;

  transition:  all 0.3s;
}

.menu_bar ul li a:hover{
  color: white;
}

.dropdown_menu{
  display: none;
}

.menu_bar ul li:hover .dropdown_menu{ 
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
}

 .menu_bar ul li:hover .dropdown_menu ul{
  display: block;
  margin: 10px;
}

.menu_bar ul li:hover .dropdown_menu ul li{
  width: 150px;
  padding: 10px;;
}

.img-holder img{
  width: 700px;
}


.img-holder{
  display: block;
  border: none;
  border-radius: 5px;
  width: 700px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  margin-top: 100px;
}

.hive-logo{
  display: block;
  border: none;
  border-radius: 5px;
  width: 700px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  padding-top: 500px;
  padding-left: 100px;

}




 
.about{
   display:flex;
   background: transparent;
   align-items: center;
   justify-content: space-around;
   gap: 5rek;
   height: 100vh;
   padding: 0 15px;
   color: #ba924a;
  
   
}

.about-content{
   max-width: 600px;
   flex: 1;
}

.about-content h1{
   font-size: 56px;
   font-weight: 700;
   line-height: 1.2;
   margin-top: 8px;
}

.about-content p{
  font-size: 20px;
  margin: 20px 0 40px;
  padding-bottom: 50px;

}

.about-content h5{
  font-size: 32px;
  font-weight: 700;
}

button{
   background: #ba924a;
   color: black;
   text-decoration: none;
   border: 2px solid transparent;
   font-weight: bold;
   padding: 13px 30px;
   border-radius: 30px;
   transition: .4s;
   margin-top: 10px;
}
 button a{
  color: black;
 }
button:hover{
   background: transparent;
   color: white;
   border: 2px solid #ba924a
  
}


.img_bee{
  float: right;
}

span{
    color: white;
} 

#img-place{
 display: flex;
 margin-left: auto;
 width: 300px;
 padding-right: 100px;
  
}

.boxes{
  margin-top: 200px;
}

#img-j{
  border: 1px solid black;
  width: 600px;
  height: auto;
  display: flex;
  margin-left: auto;
  margin-top: 200px;
  padding-left: 50px;
}
     
#img-k{
  border: 1px solid black;
  width: 600px;
  height: auto;
  padding-left: 50px;
  
  
}

#img-t{
  border: 1px solid black;
  width: 600px;
  height: auto;
  padding-left: 50px;
  display: flex;
 
  margin-left: auto;
}

 
.contact{
   background: transparent;
   color:#ba924a
}

#pic-jp{
  width: 300px;
  height: auto;
  float: right;
 
}

.pic{
   max-width: 100%;
   display: flex;
   width: 50%;
   height: auto;
   border-radius: 10px;
}
 
.info h1{
   font-size: 64px;
   color: #ba924a;
   margin: 20px;
}
 
span{
   color: white;
}

.info{
  width: 30%;
  padding-left: 100px;
  padding-top: 50px;
  
}
 
.info p{
   color: #ba924a;
   letter-spacing: 1px;
   line-height: 26px;
   font-size: 1.1rem;
   margin-bottom: 3.8rem;
}


.services-container{
  color: #ba924a;
}

.card-container{
  display: flex;
 
  flex-wrap: wrap;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}

.card{
  width: 300px;
  background-color: transparent;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 00px;
  color: #ba924a;
  
}

.card img{
  width: 100%;
  height: auto;
}

.card-content{
  padding: 16px;
  color: #ba924a;
}

.card-content h3{
  color: #ba924a;
  font-size: 28px;
  margin-bottom: 8px;
  }

  .card-content p{
    color: #ba924a;
    font-size: 15px;
    line-height: 1.3;
  }

.about-content li{
  font-size: 24px;
}

.about-content h5{
  font-size: 53px;
}

#services{
  color: #ba924a;
}

.services{
  color: #ba924a;
  padding-left: 25px;
  padding-top: 25px;
  font-size: 36px;
}

.contact-us{
  Font-family: Lato;
  color:#ba924a;
  font-size: 48px;
  line-height: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-left: 30px;
  vertical-align: top;
    }

.address{
  
  font-family: Roboto;
  color:#ba924a;
  font-size: 24px;
  line-height: 1.2500em;
  margin-top: 8px;
  margin-bottom: 0;
  padding-left: 30px;
  }

  .address-head{
  margin-top: 200px;
  color: #ba924a;
  padding-left: 30px;
  font-size: 36px;
  }


  
.map{
    padding-left: 32px;
    padding-top: 20px;
}

.img-jp{
  width: 500px;
  
}

   
 .j-h1{
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ba924a;
  }
   
  .j-h3{
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    color: #ba924a;
}
 
  .j-paragraph{
     text-wrap-style: balance;
     font-size: 18px;
     text-transform: uppercase;
     line-height: 1.5;
     color: #ba924a;
    }
 
 
  .boxes{
     display: flex;
     flex-directon: row;
  }
 
  .about{
     background-color: transparent;
     margin: 30px;
     display: grid;
     grid-template-columns: 50px 50px 50px;
     color: #ba924a; 
   }
  
   .img-j{
      margin: 30px;
      width: 500px;
   }
 
   .div-1{
     background-color: lightblue;
   }
 
    .div-2{
     background-color: lightpink;
   }
 
    h{
      color:#ba924a;
    }
    
    ul{
      color:#ba924a;
      display: flex;
      flex-direction: column;
    }

  
    
    span{
      color: white;
    }
    
  h3{
    color: #ba924a;
  }

  