
  body {
   background-image: url(img/wallpaper.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   color: #ba942a;
  }

  a {
   cursor: pointer;
  }

  .header-main {
   
    top: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
  }

  .header-main-logo {
    width: fit-content;
    height: 100%;
    display: flex;
    padding-left: 60px;
}

  .header-main-nav {
    width: fit-content;
    height: 100%;
   
}

  .header-main-nav ul {
    list-style: none;

}
    
  .header-main-nav ul li {
    display: inline;
    float: left;
    
    
}
  .header-main-nav ul li a {
    padding: 0 10px;
    font-family: sans-serif;
    line-height: 30px;
    text-decoration: none;
    color: #ba942a;
    display: block;
    height: 100%;
    font-size: 18px;
}

  .header-main-nav ul li a:hover{
    color: white
}

  .header-main-logo img {
    height: 60px; 
    align-self: center;
}

  .header-main-sm{
    width: fit-content;
    height: 100%;
    padding-right: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

  .header-main-fb {
    width: 20px;
    height: 20px;
    background-image: url(..img/facebook.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

  .header-main-ig {
    width: 20px;
    height: 20px;
    background-image: url(..img/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
}

  .hive-img{
    display: block;
    width: 700px;
    margin: 0 auto;
}

   .img-j{
     width: 500px;
     margin-top: 150px;

   }
  .about{
    color: #ba942a;
    font-size: 1.5rem;
    text-align: center;
    height: 200vh;
}

  span {
    color: white;
}


  .btn{
     background-color: #ba942a;
     color: white;
     padding: 15px 10px;
     border-radius: 18px;
     border: none;
  }

   .btn:hover{
      background-color: white;
      color: #ba942a;
   }
 

  .btn{
     background-color: #ba942a;
     color: white;
     padding: 15px 10px;
     border-radius: 18px;
  }
  
  .index-category{
    width: 100%;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}


  .index-category-box{
    width: 200px;
    height: 200px;
   
}

  .index-category-box h3{ 
    font-size: 22px;
    line-height: 24px;
    text-align: center;
    
 }

  h1{
   font-size: 26px;
   line-height: 32px;
   color: #ba942a;
   font-family: sans-serif;
   font-weight: 600;
   text-transform: uppercase;
  }


   h2{
    font-size: 48px;
    line-height: 32px;
    color: #ba942a;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }

   h3{
    font-size: 26px;
    line-height: 32px;
    color: #ba942a;
    font-family: sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }

   .main-intro p{
    font-size: 24px;
   }

  .contact{
   margin-top: 150px;
   text-align: center;
   
  }

 .map{
   margin-left: 50px;
 }