  *{
   padding: 0;
   margin: 0;
   font-family: sans-serif;
   color: #ba924a;
  }
 
body{
background: url(img/wallpaper.jpg);
background-position: center;
background-repeat: none;
background-size: cover;
}
 
.navbar ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a{
  color: #ba924a;
  text-decoration: none;
  padding: 15px;
  display: block;
  
  text-align: center;
  
}

.navbar a:hover{
  color: white;
}

.navbar li{
  float: left;
}
 
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
 
 
.logo{
  width: 700px;
  padding-top: 0;
  margin-bottom: 800px;
  padding-bottom: 60px;
  align-items: center;
  margin-top: -150px;
  margin-right: 18px;
}
 
.bee-logo{
  margin-top: 75px;
  width: 300px;
  margin-left: 35px;
 
}
 
 
h3{
font-size: 36px;
text-align: center;
text-transform: uppercase;
}
 
p{
color: #ba924a;
text-align: center;
font-size: 20px;
text-transform: uppercase;
 
}
 
.text{
  position: relative;
  margin-top: -950px;
  }
 
span{
  color: white;
  font-weight: bold;
}

img{
    float: left;
    margin-top: 30px;
} 

h1{
    margin-top: 30px;
}

h3{
   
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
}

h4{
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
}

p{
text-align: left;
}

.h-home{
    text-align: center;
}

.p-home{
    text-align: center;
}


ul{ 
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

.btn{
    background-color: #ba924a;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px 10px;
    border-radius: 18px;
    border: none;
    margin-left: 725px;
    margin-top: 5px;
    font-size: 18px;
}

.btn_k{
    background-color: #ba924a;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px 10px;
    border-radius: 18px;
    border: none;
    margin-left: 505px;
    margin-top: 0;
    font-size: 18px;
    transform: translateY(-100px);
}

.btn:hover{
    background-color: white;
    color: #ba924a;
}

.btn_k:hover{
    background-color: white;
    color: #ba924a;
}

.btn_t{
    background-color: #ba924a;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px 10px;
    border-radius: 18px;
    border: none;
    margin-left: 505px;
    margin-top: 0;
    transform: translateY(-120px);
    font-size: 18px;
}

.btn_t:hover{
    background-color: white;
    color: #ba924a;
}

#img-k{
  border: 1px solid black;
  width: 600px;
  height: auto;
  padding-left: 50px;
}

#img-t{
  border: 1px solid black;
  width: 600px;
  height: auto;
  padding-left: 50px;
  display: flex;
 
  margin-left: auto;
}

 
.contact{
   background: transparent;
   color:#ba924a
}

#pic-jp{
  width: 300px;
  height: auto;
  float: right;
 
}

.pic{
   max-width: 100%;
   display: flex;
   width: 50%;
   height: auto;
   border-radius: 10px;
}
 
.map{
    float: left;
}

.img-jp{
    width: 500px;
    vertical-align: top;
}

.address{
    float: left;
}

iframe{
    margin: auto;
    float: left;
}

.address{
    float: left;
}